@model MyProject.ViewModel.RegisterVM

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <svg class="mx-auto my-3" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill=" currentColor" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </div>
                        @using (Html.BeginForm("Register", "User", FormMethod.Post))
                        {
                            <div class="col-md-6 py-3 my-3 mx-auto">
                                <h3 class="text-center py-3">Create Account</h3>
                                <div class="col-12 py-3">
                                    @Html.TextBoxFor(row => row.UserName, new { placeholder = "UserName", @class = "form-control rounded-0" })
                                    @Html.ValidationMessageFor(row => row.UserName)
                                </div>
                                <div class="col-12 py-3">
                                    @Html.PasswordFor(row => row.Password, new { placeholder = "Your Password", @class = "form-control rounded-0" })
                                    @Html.ValidationMessageFor(row => row.Password)
                                </div>
                                <div class="col-12 py-3">
                                    @Html.PasswordFor(row => row.ConfirmPass, new { placeholder = "Confirm Password", @class = "form-control rounded-0" })
                                    @Html.ValidationMessageFor(row => row.ConfirmPass)
                                </div>
                                <div class="col-12 py-3">
                                    @Html.TextBoxFor(row => row.Email, new { placeholder = "Email", @class = "form-control rounded-0" })
                                    @Html.ValidationMessageFor(row => row.Email)
                                </div>
                                <div class="col-12 py-3">
                                    @Html.TextBoxFor(row => row.Mobile, new { placeholder = "Phone Number", @class = "form-control rounded-0" })
                                    @Html.ValidationMessageFor(row => row.Mobile)
                                </div>
                                <div class="col-12 py-3">
                                    <button class="btn d-block btn-dark form-control" type="submit" style="border-radius: 0;" />Register
                                </div>
                                <p>Bạn đã có tài khoản? <a href="/User/login" class="btn btn-link">Đăng nhập</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


