@model List<MyProject.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Giá</th>
    </tr>
    @{ int i = 1; int tong = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@i</td>
            <td>@item.Product.ProductName</td>
            <td>
                @using (Html.BeginForm("UpdateQuantity", "Cart", FormMethod.Get))
                {
                    <input type="number" value="@item.Quantity" name="quan" min="1" style="width: 70px;" />
                    <input type="hidden" name="proid" value="@item.ProductId" />
                    <input type="submit" value="Update" class="btn btn-primary" />
                }
            </td>
            <td>
                @{
                    int Price = item.Quantity * item.Product.Price;
                    i++;
                    tong += Price;
                }
                @Price.ToString("N0") VNĐ
            </td>
            <td>
                <form action="/cart/delete/?CartID = @item.ProductId" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">xóa</button>
                </form>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" class="text-center fw-bold">Tổng tiền</td>
        <td>@tong.ToString("N0") VNĐ</td>
    </tr>
</table>
<div class="row">
    <div class="col-md-3">
        <a href="/product/index" class="btn btn-outline">Tiếp tục mua hàng</a>
    </div>
</div>


